<!DOCTYPE html>

{% block main %}

<html lang="en">
<head>
  <title>Nectar - Sign Up</title>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="icon" href="/static/nectar.png">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-signin-client_id" content="986757621979-ta1lbgvoqp8o9d4q0peqg1g5lhle0dom.apps.googleusercontent.com">
  <script src="/static/script.js" async def></script>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <div class="container">
        <div class="box-signup">
            <form method="POST" action="/signup" class="signup-form">
                <h1 class="signup-title">Sign Up</h1>
                <div class="signup-input-0">
                  <label class="input-title" for="email">School Email</label>
                  <input id="email" type="email" name="email" placeholder=""/>
                </div>
                <div class="signup-input-1">
                  {% if taken %}
                  <label class="input-title" for="username">Username<span class="error"> - Has been taken by another user</span></label>
                  {% else %}
                  <label class="input-title" for="username">Username</label>
                  {% endif %}
                  <input id="username" type="text" name="username" placeholder=""/>
                </div>
                <div class="signup-input-2">
                  <label class="input-title" for="password">Password</label>
                  <input id="password" type="password" name="password" placeholder=""/>
                </div>
                <div class="submit1-container">
                  <input type="submit" value="Sign Up" class="login-submit"/>
                  <span class="signup-required">Already have an account? <a class="login-link" href="/login">Log In</a></span>
                </div>
                <div class="side-image1">
                  <img class="honey_bear" src="/static/honey_bear.png" alt="">
                </div>
            </form>
        </div>
    </div>
</body>
</html>

{% endblock %}