@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.name{
  white-space: nowrap;
}

.cl-internal-1b63r8w[data-localization-key="formFieldLabel__role"]::after{
    content: " Admins will have access to the organization's financial information, while members will not.";
    color: rgba(0, 0, 0, 0.65);
    margin: 0px;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.25;
    font-size: 0.8125rem;
    display: block;
    margin-top: 8px;
}

.cl-formFieldLabel.cl-formFieldLabel__emailAddress.cl-required.cl-internal-1xpzc82{
    visibility: hidden;
}

.cl-formFieldLabel.cl-formFieldLabel__emailAddress.cl-required.cl-internal-1xpzc82::before{
    content: "College email";
    color: black;
    font-family: inherit;
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 1.375;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-font-smoothing: auto !important;
    visibility: visible;
}

.cl-formFieldLabel.cl-formFieldLabel__identifier.cl-required.cl-internal-1xpzc82{
    visibility: hidden;
}

.cl-formFieldLabel.cl-formFieldLabel__identifier.cl-required.cl-internal-1xpzc82::before{
  content: "College email or username";
  color: black;
  font-family: inherit;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.375;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-font-smoothing: auto !important;
  visibility: visible;
}

body > main > div > div > div.flex.flex-col.items-center.mt-\[15px\].gap-\[15px\].w-\[720px\].justify-self-end > div.box-border.w-full.p-1.bg-white.dark\:bg-\[\#19191A\].border-\[1px\].border-\[\#E4E4E7\].dark\:border-\[\#515152\].rounded-md > div.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard > div.fc-header-toolbar.fc-toolbar{
    position: relative
}

body > main > div > div > div.flex.flex-col.items-center.mt-\[15px\].gap-\[15px\].w-\[720px\].justify-self-end > div.box-border.w-full.p-1.bg-white.dark\:bg-\[\#19191A\].border-\[1px\].border-\[\#E4E4E7\].dark\:border-\[\#515152\].rounded-md > div.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard > div.fc-header-toolbar.fc-toolbar > div:nth-child(1){
    position: absolute;
    left: 50%;
    transform: translateX(-30%);
}

body > main > div > div > div.flex.flex-col.items-center.mt-\[15px\].gap-\[15px\].w-\[720px\].justify-self-end > div.box-border.w-full.p-1.bg-white.dark\:bg-\[\#19191A\].border-\[1px\].border-\[\#E4E4E7\].dark\:border-\[\#515152\].rounded-md > div.absolute.z-10 > button{
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.4em 0.65em;
    text-align: center;
    user-select: none;
    vertical-align: middle;
}

html.dark .fc-theme-standard .fc-list-day-cushion{
    background-color: hsl(var(--background))
}

body > main > div > div > div.flex.flex-col.items-center.mt-\[15px\].gap-\[15px\].w-\[720px\].justify-self-end > div.box-border.w-full.p-1.bg-white.dark\:bg-\[\#19191A\].border-\[1px\].border-\[\#E4E4E7\].dark\:border-\[\#515152\].rounded-md > div.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard > div.fc-view-harness.fc-view-harness-active > div > table > tbody > tr > td > div > div > div > table > tbody > tr > td.fc-day.fc-daygrid-day > div > div.fc-daygrid-day-events > div.fc-daygrid-event-harness > a > div > button{
    width: 100%
}

html.dark .fc .fc-list-event:hover td{
  background-color: hsl(var(--muted) / 0.5)
}

.fc {
  font-family: 'Inter', sans-serif;
}

.fc .fc-event-main > button:hover {
  background-color: hsla(0, 0%, 0%, 10%)
}
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 240 5% 64.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 240 3.7% 15.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}