* {
    color: black;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --primary-color: #C9EAFD;
    --secondary-color: #3283a8;
}

nav{
    /* border: 5px solid black; */
    display: flex;
    position: sticky;
    top: 0;
    height: 80px;
    align-items: center;
    background-color: white;
    
}

.title{
    color: #3b9af0;
    margin-left: 25px;
    margin-right: 10%
}

.title:hover{
    cursor: pointer;
}

.club{
    color: gold;
}

.links{
    list-style-type: none;
    display: inline-block;
    margin: 0px 10px;
}

.links:hover{
    cursor: pointer;
}

.links::after{
    content: ''
}